* {
	boz-sizing: border-box;
	-webkit-boz-sizing: border-box;
	-moz-boz-sizing: border-box;
}

body {
	text-align: center;
	margin-top: 100px;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 300;

}

input#query {
    background-color: transparent;
    width: 400px;
    height: 35px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 300;
    color: #fff;
}
input#search {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #75F66F;
    color: #3D3D3D;
    border: none;
    border-radius: 0;
   -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    transition: background-color 2s;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
}
input#search:hover {
	background-color: #6FF6CE;
	color: #AB0101;
}
img#thumb {
    display: block;
    padding-left: 60px;
    padding-bottom: 20px;
}
#search-results {
	width: 600px;
    margin: 0 auto;;
}
#images {
	width: 100px;
	position: absolute
}
p {
	padding-bottom: 35px;
	color: #fff;
}
h3{
	color: #fff;
	font-weight: 300;
}
.result_container {
    overflow: hidden;
    margin-top: 25px;
}

/* Image Placement */
img#thumb:nth-child(1) {
	padding-top: 20px;
}
img#thumb:nth-child(2) {
	padding-top: 22px;
}
img#thumb:nth-child(3){
	padding-top: 22px;
}
img#thumb:nth-child(4) {
	padding-top: 25px;
}
img#thumb:nth-child(5){
	padding-top: 25px;
}
img#thumb:nth-child(6) {
	padding-top: 20px;
}
img#thumb:nth-child(7){
	padding-top: 24px;
}
img#thumb:nth-child(8){
	padding-top: 40px;
}
img#thumb:nth-child(9){
	padding-top: 28px;
}
img#thumb:nth-child(10){
	padding-top: 48px;
}

/* Video BG */
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}